#.travis.yml

language: node_js
node_js:
  - 10

branches:
  only:
    - master
    - development

cache:
  directories:
    - ~/.npm

before_script:
  - npm install -g firebase-tools
  - npm install

script:
  - npm run build && npm run test:unit

after_success:
  - if [ "$TRAVIS_BRANCH" = "development" ]; then firebase deploy --token $FIREBASE_DEV_TOKEN; fi
  - if [ "$TRAVIS_BRANCH" = "master" ]; then firebase deploy --token $FIREBASE_TOKEN; fi

notifications:
  email: false
