$primary: #1565c0 !default;
$secondary: #26c6da !default;
$accent: #66bb6a !default;
$error: #ef5350 !default;
$warning: #ffca28 !default;
$info: #26c6da !default;
$success: #66bb6a !default;

$grey-base: #000 !default;
$grey-darker: lighten($grey-base, 13.5%) !default; // #222
$grey-dark: lighten($grey-base, 20%) !default; // #333
$grey: lighten($grey-base, 33.5%) !default; // #555
$grey-light: lighten($grey-base, 46.7%) !default; // #777
$grey-lighter: lighten($grey-base, 93.5%) !default; // #eee

$text-color: $grey-dark !default;

// *****************
// * TYPOGRAPHY
// *****************

$base-font-size: 1rem;
$base-line-height: 1.25 * $base-font-size;

$text-settings: (
  'xs': (font-size: 0.75rem, line-height: $base-line-height),
  'sm': (font-size: 0.875rem, line-height: $base-line-height),
  'base': (font-size: 1rem, line-height: $base-line-height),
  'md': (font-size: 1.125rem, line-height: $base-line-height * 2),
  'lg': (font-size: 1.25rem, line-height: $base-line-height * 2),
  'xl': (font-size: 1.5rem, line-height: $base-line-height * 2)
);
@function text-scale($level) {
  @return map-get(map-get($text-settings, $level), 'font-size');
}

@function line-height($level) {
  @return map-get(map-get($text-settings, $level), 'line-height');
}

@mixin text-setting($level) {
  font-size: text-scale($level);
  line-height: line-height($level);
}
$font-family: Roboto, Helvetica, Arial, sans-serif !default;
$font-family-monospace: 'Roboto Mono', Monaco, Consolas, 'Courier New',
  monospace !default;
$font-family-base: $font-family !default;

$font-size-base: text-scale('base') !default;
$font-size-extra-small: text-scale('xs') !default;
$font-size-small: text-scale('sm') !default;
$font-size-medium: text-scale('md') !default;
$font-size-large: text-scale('lg') !default;
$font-size-extra-large: text-scale('xl') !default;

$font-size-h1: floor(($font-size-base * 2.6)) !default;
$font-size-h2: floor(($font-size-base * 2.15)) !default;
$font-size-h3: ceil(($font-size-base * 1.7)) !default;
$font-size-h4: ceil(($font-size-base * 1.25)) !default;
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil(($font-size-base * 0.85)) !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base: line-height('base') !default;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base)) !default;

//** By default, this inherits from the `<body>`.
$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;
